---
---
@charset "utf-8";

// Our variables
$lg-header-height:    80px;
$sm-header-height:    60px;
$white:            #FFFFFF;
$yellow:           #DBCA00;
$orange:           #F27400;
$black:            #000000;
$light-yellow:     #FFEB00;
$grey:             #DDDCE2;
$contact-yellow:   #EEFF2D;
$dark-grey:        #758895;
$light-grey:       #F2F2F2;
$pink:             #E15888;
$header-l-grey:    #DDDDBB;
$header-d-grey:    #63656E;
$blue:             #28A5D4;
$bg-grey:          #262626;
$cursive-font:     'PT serif', serif;
$main-font:        'Karla', sans-serif;
$spacing-unit:     10px;

//z-index
$z-index-decoration: 10;
$z-index-header: 99;

//devices
$desktop-med: 1200px;
$desktop-small: 1000px;
$tablet-large: 860px;
$tablet-small: 768px;
$mobile-large: 500px;

@mixin max-media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin min-media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@import "bootstrap",
        "layout",
        "base",
        "syntax-highlighting",
        "mixins",
        "home",
        "header",
        "about",
        "pov",
        "approach",
        "contact",
        "services",
        "footer";
