<section id="about" class="about page cf">
    <div class="about-content">
        <div><h3>Hello, we are</h3></div>
        <div class='about-wayfaring-image'>
            <img src='/images/about/ArkLogo.png' alt="Arkipolygon" />
        </div>
        <div class='about-content-box'>
            <p>We are a VR and AR creative agency with a unique mix of marketers and game developers. We took what we learned from our time spent at the worlds most recognized advertising and marketing agencies working around the globe on Fortune 500 brands, and combined that with a mix of cutting edge game and software development to round out our own little, yet potent group.</p>
        </div>
    </div>
    <div class="scroll-arrow about-arrow"></div>
</section>
