<section id="approach" class="approach cf page">
    <div class="approach-wrapper">
        <div class="approach-image">
            <img src="/images/approach/gameTheSystem.png" alt="game the system" />
        </div>
        <div class="approach-content">
            <div class="approach-content-header header-style">OUTSIDER APPROACH</div>
            <div class="approach-content-first">
                <p>Consumers increasingly expect cool experiences that actually add value to their day, even from brands. In response to this, we chose an unconventional approach of combining seasoned brand marketers with game developers to round out a unique approach to digital.</p>
                <p>Game designers live in the world of creating joyful and immersive experiences for the individual.</p>
                <p>We call this approach <strong>GAME THE SYSTEM.</strong></p>
            </div>
            <div class="approach-content-second">
                <p><strong>GAME THE SYSTEM</strong> elevates the customer from:</p>
                <p class="sans-font">Faceless Stats <span class="bold-font">to</span> Character</p>
                <p class="sans-font">User <span class="bold-font">to</span> Player</p>
            </div>
            <div class="approach-content-third cursive-font">
                Game The System creates authentic connections between  brands and consumers
            </div>
        </div>
    </div>
    <div class="scroll-arrow approach-arrow"></div>
</section>
