<section id="contact" class="contact page">
    <div class="contact-wrapper">
        <div class="contact-header header-style">CONNECT WITH </div>
        <div class="contact-header header-style">A STRANGER</div>
        <div class="contact-content">
            <div class="contact-info-header">We are located inside the historic Customs House in downtown Nashville</div>
            <div class="contact-info">
                <div class="contact-col">
                    <span>701 Broadway</span>
                    <span>Nashville TN 37212</span>
                </div>
                <div class="contact-col">
                    <span>info@strangers.com</span>
                    <span>615.123.4567</span>
                </div>
            </div>
        </div>
    </div>
</section>
