<section id="contact" class="contact page">
    <div class="contact-wrapper">
        <div class="contact-header header-style">CONNECT WITH </div>
        <div class="contact-header header-style">A STRANGER</div>
        <div class="contact-content">
            <div class="contact-info-header">We are located inside the historic Customs House in downtown Nashville</div>
            <div class="contact-info">
                <div class="contact-col">
                    <span>701 Broadway</span>
                    <span>Suite 412</span>
                    <div>Nashville TN 37202</div>
                </div>
                <div class="contact-col">
                    <span>info@wayfaringcreative.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>&#169; {{ 'now' | date: "%Y" }} Wayfaring Strangers. All Rights Reserved.</p>
    </div>
</section>
