<header class="site-header">
    <div class="mobile-menu-block"></div>
    <div class='logo-wrapper'>
        <a href="#homepage"><img src="/images/wayfaringLogo.png" alt="wayfaring strangers logo" /></a>
    </div>
    <div class="site-menu">
    <div class="hamburger"></div>
    <div class="hamburgerx"></div>
    <nav class="menu-close header-menu">
      <ul>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#pov">POV</a></li>
        <li><a href="#approach">APPROACH</a></li>
        <li><a href="#services">WHAT WE DO</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </nav>
    </div>
</header>
