<section id="pov" class="pov page cf">
    <div class="pov-wrapper">
        <div class="pov-quote">Sometimes I wish brands could bring us joy...</div>
            <div class="js-pov-content-wrapper pov-content-wrapper cf">
                <div class="pov-header no-gutters">
                    <div class="header-style pov-header-content">POV</div>
                </div>
                <div class="pov-content-mobile-intro js-pov-content-mobile-intro">
                    <p>Before venturing down the road exploring new ideas, we start with a simple premise, that brands should bring joy...</p>
                    <div class="pov-read-more js-pov-read-more">
                      <span>MORE</span>
                      <i class="fa fa-plus-square read-more-ico"></i>
                    </div>
                </div>
                <div class="pov-content hide-small">
                    <p>Bringing joy can mean eliciting a whole host of emotions to add value to a customers day. Doing this triggers an authentic connection to a brand as opposed to just marketing noise that leads to so much skepticism and people tuning out.</p>
                    <p>Consumers are empowered like never before, and they co-write a brand's story. Respecting and embracing this, we believe in powerful ideas that cut through not because they interrupt or shock, but because people want to be a part of them. <strong>Because brands should bring joy.</strong></p>
                </div>
            </div>
        </div>
    <div class="scroll-arrow pov-arrow"></div>
</section>
