<section id="services" class="cf page">
    <div class="services--header-wrapper">
        <span class="services--header header-style">WHAT WE DO</span>
    </div>
    <div class="services--col services--left-col">
        <div class="cf">
            <div class="services--vr">
                <div class="services--icons">
                    <img src="/images/services/vricon.png" alt="virtual reality services" />
                </div>
                <div class="services--reality-text">
                    <div class="services--reality-header">VR</div>
                    <div>Virtual Reality</div>
                    <div class="js-services-read-more services-read-more">
                        <span class="services-more">MORE</span>
                        <i class="fa fa-plus-square read-more-ico"></i>
                    </div>
                </div>
            </div>
            <div class="services--ar">
                <div class="services--icons">
                    <img src="/images/services/aricon.png" alt="augmented reality services">
                </div>
                <div class="services--reality-text">
                    <div class="services--reality-header">AR</div>
                    <div>Augmented Reality</div>
                    <div class="js-services-read-more services-read-more">
                        <span class="services-more">MORE</span>
                        <i class="fa fa-plus-square read-more-ico"></i>
                    </div>
                </div>
            </div>
        </div>
        <ul class="services--bullet-points">
            <li><p>Branded Content / Educational / Gaming / Professional Tools</p></li>
            <li><p>3D CGI fully interactive experiences</p></li>
            <li><p>360 / VR Video (Creative + Production)</p></li>
            <li><p>Mixed Media (Real Life + Computer Generated Imagery)</p></li>
        </ul>
    </div>
    <div class="services--col services--right-col"></div>
    <div class="services-arrow scroll-arrow"></div>
</section>
