<section id="services" class="services cf page">
  <div class="services-header header-style">STUFF WE DO</div>
      <div class="services-left-col">
          <img src="/images/services/service-icons.png" />
      </div>
        <div class="services-right-col">
            <div class="services-content-wrapper">
                <h2>IN HOUSE CAPABILITIES</h2>
                <div class="js-services-read-more services-read-more">
                    <span class="services-more">MORE</span>
                    <i class="fa fa-plus-square read-more-ico"></i>
                </div>
            </div>
        </div>
  <div class="in-house-cap">
    <div>
      <strong>Brand Planning</strong>
      <span class="js-services-close in-house-close">X</span>
      <ul>
        <li>Creative ideation/execution</li>
        <li>Integrated campaign development (media neutral - paid, earned, owned, social)</li>
        <li>Strategic planning</li>
        <li> Live interaction/experiential design</li>
        <li>Branded gaming development</li>
      </ul>
    </div>
    <div>
      <strong>Technical</strong>
      <ul>
        <li>Full Stack Development</li>
        <li>Testing/Quality Assurance</li>
        <li>UX/UI Design</li>
        <li>Native Application Development</li>
        <li>3D CG Creation</li>
        <li>Virtual Reality Development</li>
      </ul>
    </div>
    <div>
      <strong>Strategic Strangerships (Partners and free range strangers)</strong>
      <ul>
        <li>SEO/SEM, PPC, Campaign Execution</li>
        <li>Full Social/Paid Media Campaign Execution</li>
        <li>Measurement/Analytics</li>
        <li>Global reach: US, China</li>
      </ul>
    </div>
  </div>
  <div class="services-arrow scroll-arrow"></div>
</section>
