.contact {
    @include main-image('/images/contact/background.png');

    @include max-media-query($tablet-small) {
        @include main-image('/images/contact/background-mobile.png');
    }
}

.contact-header {
    color: white;
    font-size: 6em;

    @include max-media-query($tablet-large) {
        font-size: 4em;
    }

    @include max-media-query($mobile-large) {
        font-size: 3em;
    }
}

.contact-wrapper {
    position: relative;
    top: 50%;
    left: 15%;

    @include max-media-query($mobile-large) {
        left: 5%;
    }
}

.contact-content {
    background: rgba(0,0,0,0.7);
    color: white;
    display: inline-block;
    padding: $spacing-unit * 2;
    width: 500px;
    margin-top: $spacing-unit * 4;

    @include max-media-query($mobile-large) {
        margin-top: $spacing-unit;
        width: 300px;
    }
}

.contact-col-header {
    padding-bottom: 10px;
}

.contact-header {
    text-align: center;
    font-size: 2em;
}

.contact-info {
    font-weight: 600;
    margin-top: $spacing-unit;
}

.contact-col {
    @extend .col-md-6;

    &:last-child {
        @include min-media-query($tablet-large) {
            border-left: 1px solid white;
            padding-left: 30px;
        }
    }
}
