<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
  <script type="text/javascript" src="/js/jquery.min.map"></script>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/menu.js"></script>
  <script type="text/javascript" src="/js/imageDimensions.js"></script>
  <script type="text/javascript" src="/js/modals.js"></script>
  <script type="text/javascript" src="/js/scroll.js"></script>
</html>
